In [1]:
import platform

In [2]:
platform.architecture()

('64bit', 'WindowsPE')

In [37]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from decimal import Decimal
import math
from sklearn.preprocessing import LabelEncoder
%matplotlib inline

In [4]:
gs=pd.read_csv('gender_submission.csv')
train=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [5]:
gs.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [6]:
print(len(train.columns))
print(len(test.columns))

12
11

In [7]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [8]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [9]:
print(len(train))
print(len(test))

891
418

**change missing value**

In [10]:
print('train')
for col in train.columns:
    if train[col].isnull().sum()>0:
        print(col, train[col].isnull().sum())
        
print('test')
for col in test.columns:
    if test[col].isnull().sum()>0:
        print(col, test[col].isnull().sum())

train
Age 177
Cabin 687
Embarked 2
test
Age 86
Fare 1
Cabin 327

In [11]:
print(len(train.Age.unique()))
print(len(test.Age.unique()))

89
80

In [10]:
train.Age.describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

In [11]:
test.Age.describe()

count    332.000000
mean      30.272590
std       14.181209
min        0.170000
25%       21.000000
50%       27.000000
75%       39.000000
max       76.000000
Name: Age, dtype: float64

In [12]:
def check_int(data, columns):
    lst=[]
    for col in columns:
        for idx in data.index:
            frac,intn=math.modf(data.loc[idx,col])
            if frac!=0.0:
                lst.append(data.loc[idx,col])
    if lst==[]:
        print('all int')
    else:
        print(lst)

In [13]:
check_int(test,['Age'])

[34.5, nan, nan, 22.5, nan, nan, 18.5, nan, nan, nan, nan, nan, nan, nan, 28.5, 32.5, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 18.5, nan, 18.5, nan, nan, nan, nan, nan, nan, 26.5, nan, nan, nan, 60.5, nan, nan, nan, nan, nan, nan, nan, nan, 11.5, nan, nan, 0.33, nan, nan, nan, nan, nan, nan, 40.5, nan, nan, nan, nan, 0.92, 32.5, nan, nan, 36.5, nan, nan, nan, nan, nan, nan, nan, 0.75, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.83, nan, nan, nan, nan, nan, 0.17, nan, nan, 14.5, nan, nan, nan, nan, nan, nan, nan, nan, 38.5, nan, nan]

In [14]:
check_int(train,['Age'])

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 28.5, nan, nan, nan, nan, 0.83, nan, nan, nan, nan, nan, nan, 14.5, 70.5, nan, 32.5, 32.5, nan, nan, nan, 36.5, 55.5, 40.5, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 45.5, nan, nan, 20.5, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 23.5, nan, nan, nan, nan, nan, 0.92, nan, nan, nan, 45.5, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.75, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 40.5, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, 0.75, nan, nan, nan, nan, nan, nan, nan, 24.5, nan, nan, nan, nan, nan, nan, nan, nan, 28.5, nan, nan, nan, 0.67, nan, nan, 30.5, nan, nan, nan, nan, nan, nan, nan, nan, 0.42, 30.5, nan, nan, nan, nan, 0.83, nan, nan, nan, 34.5, nan, nan, nan, nan, nan, nan, nan]

Deal with missinve value

In [15]:
train=train[train.Embarked.notnull()]
train['Cabin']=train.Cabin.fillna(value='X')
train['CabinType']=[i[0] for i in train.Cabin]
train=train.drop(['Cabin'],axis=1)
train['Age']=train.Age.fillna(value=0.0)
train['isAge']=[int(i!=0.0) for i in train.Age]
train['Age']=train.Age.astype(int)

test=test[test.Fare.notnull()]
test['Cabin']=test.Cabin.fillna(value='X')
test['CabinType']=[i[0] for i in test.Cabin]
test=test.drop(['Cabin'],axis=1)
test['Age']=test.Age.fillna(value=0.0)
test['isAge']=[int(i!=0.0) for i in test.Age]
test['Age']=test.Age.astype(int)

In [16]:
#recheck:
print('train')
for col in train.columns:
    if train[col].isnull().sum()>0:
        print(col, train[col].isnull().sum())
        
print('test')
for col in test.columns:
    if test[col].isnull().sum()>0:
        print(col, test[col].isnull().sum())

train
test

In [17]:
train.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,CabinType,isAge
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S,X,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S,X,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S,C,1
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,S,X,1
5,6,0,3,"Moran, Mr. James",male,0,0,0,330877,8.4583,Q,X,0
6,7,0,1,"McCarthy, Mr. Timothy J",male,54,0,0,17463,51.8625,S,E,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2,3,1,349909,21.0750,S,X,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27,0,2,347742,11.1333,S,X,1
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14,1,0,237736,30.0708,C,X,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4,1,1,PP 9549,16.7000,S,G,1
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58,0,0,113783,26.5500,S,C,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20,0,0,A/5. 2151,8.0500,S,X,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39,1,5,347082,31.2750,S,X,1
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14,0,0,350406,7.8542,S,X,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55,0,0,248706,16.0000,S,X,1
16,17,0,3,"Rice, Master. Eugene",male,2,4,1,382652,29.1250,Q,X,1
17,18,1,2,"Williams, Mr. Charles Eugene",male,0,0,0,244373,13.0000,S,X,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31,1,0,345763,18.0000,S,X,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,0,0,0,2649,7.2250,C,X,0

Deal with Ticket

In [18]:
print(len(train.Ticket.unique()))
print(len(test.Ticket.unique()))

680
362

In [19]:
for idx in train.index:
    check=train.loc[idx,'Ticket'].split(' ')
    if len(check)>2:
        print(check)

['STON/O', '2.', '3101294']
['STON/O', '2.', '3101280']
['STON/O', '2.', '3101275']
['STON/O', '2.', '3101293']
['STON/O', '2.', '3101289']
['STON/O', '2.', '3101269']
['STON/O', '2.', '3101274']
['SC/AH', 'Basle', '541']
['STON/O', '2.', '3101286']
['STON/O', '2.', '3101273']
['STON/O', '2.', '3101292']
['STON/O', '2.', '3101285']
['STON/O', '2.', '3101288']

In [20]:
for idx in train.index:
    check=train.loc[idx,'Ticket'].split(' ')
    if len(check)==1:
        train.loc[idx,'T_type']='number'
    elif len(check)==2:
        train.loc[idx,'T_type']=check[0]
    else:
        train.loc[idx,'T_type']=' '.join(check[0:-1])
        
for idx in test.index:
    check=test.loc[idx,'Ticket'].split(' ')
    if len(check)==1:
        test.loc[idx,'T_type']='number'
    elif len(check)==2:
        test.loc[idx,'T_type']=check[0]
    else:
        test.loc[idx,'T_type']=' '.join(check[0:-1])

In [21]:
test.T_type.unique()

array(['number', 'A/4', 'W.E.P.', 'SC/PARIS', 'STON/O2.', 'PC', 'C',
       'A/5.', 'SC/AH', 'C.A.', 'W./C.', 'SOTON/O.Q.', 'STON/O 2.',
       'SC/A.3', 'F.C.C.', 'F.C.', 'A./5.', 'PP', 'STON/OQ.', 'SOTON/OQ',
       'CA', 'SC/A4', 'S.O./P.P.', 'CA.', 'S.O.C.', 'SOTON/O2', 'AQ/4',
       'A. 2.', 'SC', 'A/5', 'SC/Paris', 'LP', 'AQ/3.', 'S.C./PARIS',
       'A.5.'], dtype=object)

In [22]:
train.T_type.unique()

array(['A/5', 'PC', 'STON/O2.', 'number', 'PP', 'A/5.', 'C.A.', 'A./5.',
       'SC/Paris', 'S.C./A.4.', 'A/4.', 'CA', 'S.P.', 'S.O.C.', 'SO/C',
       'W./C.', 'SOTON/OQ', 'W.E.P.', 'STON/O 2.', 'A4.', 'C',
       'SOTON/O.Q.', 'SC/PARIS', 'S.O.P.', 'A.5.', 'Fa', 'CA.', 'F.C.C.',
       'W/C', 'SW/PP', 'SCO/W', 'P/PP', 'SC', 'SC/AH', 'A/S',
       'SC/AH Basle', 'A/4', 'WE/P', 'S.W./PP', 'S.O./P.P.', 'F.C.',
       'SOTON/O2', 'S.C./PARIS', 'C.A./SOTON'], dtype=object)

In [23]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,CabinType,isAge,T_type
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S,X,1,A/5
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C,C,1,PC
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S,X,1,STON/O2.
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S,C,1,number
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,S,X,1,number

Deal with name

In [27]:
train['Name_Length']=[len(N) for N in train.Name]
train['Last_Name']=[N.split(',')[0] for N in train.Name]

test['Name_Length']=[len(N)for N in test.Name]
test['Last_Name']=[N.split(',')[0] for N in test.Name]

In [28]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,CabinType,isAge,T_type,Name_Length,Last_Name
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,S,X,1,A/5,23,Braund
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C,C,1,PC,51,Cumings
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,S,X,1,STON/O2.,22,Heikkinen
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,S,C,1,number,44,Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,S,X,1,number,24,Allen

In [29]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,CabinType,isAge,T_type,Name_Length,Last_Name
0,892,3,"Kelly, Mr. James",male,34,0,0,330911,7.8292,Q,X,1,number,16,Kelly
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47,1,0,363272,7.0000,S,X,1,number,32,Wilkes
2,894,2,"Myles, Mr. Thomas Francis",male,62,0,0,240276,9.6875,Q,X,1,number,25,Myles
3,895,3,"Wirz, Mr. Albert",male,27,0,0,315154,8.6625,S,X,1,number,16,Wirz
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22,1,1,3101298,12.2875,S,X,1,number,44,Hirvonen

In [43]:
# drop duplicate
train=train.drop_duplicates()
print(len(train))
test=test.drop_duplicates()
print(len(test))

889
417

In [44]:
#Check unique value
print('train')
for col in train.columns:
    print(col, len(train[col].unique()))
print('\n\ntest')
for col in test.columns:
    print(col, len(test[col].unique()))

train
PassengerId 889
Survived 2
Pclass 3
Name 889
Sex 2
Age 71
SibSp 7
Parch 7
Ticket 680
Fare 247
Embarked 3
CabinType 9
isAge 2
T_type 44
Name_Length 50
Last_Name 665


test
PassengerId 417
Pclass 3
Name 417
Sex 2
Age 64
SibSp 7
Parch 8
Ticket 362
Fare 169
Embarked 3
CabinType 8
isAge 2
T_type 35
Name_Length 46
Last_Name 351

In [49]:
# label encoding
le=LabelEncoder()
le.fit(train.PassengerId)
train['Pid']=le.transform(train.PassengerId)
le.fit(train.Ticket)
train['Tkt']=le.transform(train.Ticket)
le.fit(train.Last_Name)
train['Family']=le.transform(train.Last_Name)

le=LabelEncoder()
le.fit(test.PassengerId)
test['Pid']=le.transform(test.PassengerId)
le.fit(test.Ticket)
test['Tkt']=le.transform(test.Ticket)
le.fit(test.Last_Name)
test['Family']=le.transform(test.Last_Name)

In [52]:
train_ready=train.drop(labels=['PassengerId','Name','Ticket','Last_Name'],axis=1)
test_ready=test.drop(labels=['PassengerId','Name','Ticket','Last_Name'],axis=1)

In [57]:
def one_hot(data,columns=[]):
    for col in columns:
        unilst=data[col].unique()
        for val in unilst:
            data[col+'_'+str(val)]=[int(i==val) for i in data[col]]
        data=data.drop([col],axis=1)
    return data

In [71]:
train_ready=one_hot(train_ready,['Pclass','Sex','SibSp','Parch','Embarked','CabinType','T_type'])
test_ready=one_hot(test_ready,['Pclass','Sex','SibSp','Parch','Embarked','CabinType','T_type'])

In [74]:
train_ready.head()

,Survived,Age,Fare,isAge,Name_Length,Pid,Tkt,Family,Pclass_3,Pclass_1,...,T_type_A/S,T_type_SC/AH Basle,T_type_A/4,T_type_WE/P,T_type_S.W./PP,T_type_S.O./P.P.,T_type_F.C.,T_type_SOTON/O2,T_type_S.C./PARIS,T_type_C.A./SOTON
0,0,22,7.2500,1,23,0,522,73,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,38,71.2833,1,51,1,595,136,0,1,...,0,0,0,0,0,0,0,0,0,0
2,1,26,7.9250,1,22,2,668,251,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,35,53.1000,1,44,3,48,198,0,1,...,0,0,0,0,0,0,0,0,0,0
4,0,35,8.0500,1,24,4,471,11,1,0,...,0,0,0,0,0,0,0,0,0,0

In [75]:
test_ready.head()

,Age,Fare,isAge,Name_Length,Pid,Tkt,Family,Pclass_3,Pclass_2,Pclass_1,...,T_type_SOTON/O2,T_type_AQ/4,T_type_A. 2.,T_type_SC,T_type_A/5,T_type_SC/Paris,T_type_LP,T_type_AQ/3.,T_type_S.C./PARIS,T_type_A.5.
0,34,7.8292,1,16,0,152,172,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,47,7.0000,1,32,1,221,338,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2,62,9.6875,1,25,2,73,231,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,27,8.6625,1,16,3,147,343,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,22,12.2875,1,44,4,138,150,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [82]:
X_train=train_ready.drop('Survived',axis=1)
y_train=train['Survived']
X_test=test_ready

## Benchmakr Modeling

In [154]:
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegressionCV as lrcv
from sklearn.linear_model import LogisticRegression as lr
from sklearn.ensemble import RandomForestClassifier as rf
from sklearn.ensemble import GradientBoostingClassifier as gbc
from xgboost import XGBClassifier as xgbc
from lightgbm import LGBMClassifier as lgbmc

In [88]:
LRCV=lrcv(Cs=[10**i for i in range(2,5)],cv=5,scoring='roc_auc',solver='liblinear',penalty='l1',class_weight='balanced',n_jobs=6,random_state=1001)
LRCV.fit(X_train,y_train)
print('score for Cs', LRCV.scores_[1].mean(axis=0))
print('Best Score', LRCV.scores_[1].mean(axis=0).max())
lst=list(LRCV.scores_[1].mean(axis=0))
index=lst.index(LRCV.scores_[1].mean(axis=0).max())
print('All chosen Cs',LRCV.Cs_)
print('C for Best Score',LRCV.Cs_[index])

score for Cs [0.84683879 0.83826326 0.83654737]
Best Score 0.8468387872246481
All chosen Cs [  100  1000 10000]
C for Best Score 100

## feature selection

In [95]:
LR=lr(C=100,penalty='l1',solver='liblinear',class_weight='balanced',n_jobs=6,random_state=1001)
LR.fit(X_train,y_train)

c:\users\wuyuhang\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:1232: UserWarning: 'n_jobs' > 1 does not have any effect when 'solver' is set to 'liblinear'. Got 'n_jobs' = 6.
  " = {}.".format(self.n_jobs))

LogisticRegression(C=100, class_weight='balanced', dual=False,
          fit_intercept=True, intercept_scaling=1, max_iter=100,
          multi_class='ovr', n_jobs=6, penalty='l1', random_state=1001,
          solver='liblinear', tol=0.0001, verbose=0, warm_start=False)

In [101]:
print(len(LR.coef_[0]))
print(LR.coef_[0])

82
[-3.98322880e-02  6.83167279e-03  1.14436390e+00  4.60787468e-02
 -1.92219966e-05 -3.22842704e-03 -5.38883993e-04 -3.01025460e-01
  5.99877313e-02  5.35090524e-02 -1.37977793e+00  1.19004138e+00
  3.87230494e-01  4.52423096e-01 -1.80842923e+00 -1.43521264e+00
  6.63486417e-01  0.00000000e+00 -9.27455642e+00  1.03055239e-01
  2.13750012e-01  0.00000000e+00 -2.12726501e+00  9.98751114e-01
 -6.17982772e+00  0.00000000e+00 -2.52788040e-01  1.97265103e-01
  4.59634384e-01 -6.19655310e-01 -2.34555159e-01  1.99303049e+00
 -2.93809877e+00  1.18088330e+00  4.86065747e-01  2.01200889e-01
  9.66302742e-02 -4.17445153e+00  9.37117716e-01  9.31174697e-01
  9.71841469e-01  8.85038593e-02  2.87767772e+00 -1.05732653e-01
  1.60359051e+00 -2.54520741e+00 -1.75227365e-01 -1.27759863e+00
 -3.10105405e+00 -5.37030305e+00 -1.85247481e+00 -4.17503238e+00
  4.72759346e+00 -1.25646299e+00  1.79587044e+00 -4.02356807e+00
  3.48864540e+00 -1.67514760e+00  2.11415262e+00  1.99310778e-01
  1.83638187e+00 -1.10394656e+00 -1.94788765e+00 -1.30817807e+00
  4.03617091e+00  2.81414102e+00 -1.26597217e+00  7.27884407e+00
 -1.46402561e+00  6.39424300e-01  4.17293698e+00  1.36474614e+00
 -1.32583463e+00  1.52652786e+00 -2.90640343e+00  1.38428545e+00
  9.08484529e+00 -5.49545224e+00 -2.85375066e+00 -2.26132492e+00
  2.11986189e+00 -2.31770523e+00]

In [112]:
param_grid={
    'n_estimators': [1000],
    'max_depth': [10],
    'min_samples_split': [2],
    'min_samples_leaf': [2],
    'max_features':['sqrt'],
    'oob_score': [True]
}

RF=rf(
    n_estimators=1000,
    max_depth=10,
    min_samples_split=2,
    min_samples_leaf=2,
    max_features='sqrt',
    oob_score=True,
    class_weight='balanced_subsample',
    n_jobs=3,
    random_state=1001
)

model=GridSearchCV(estimator=RF, param_grid=param_grid, cv=5, n_jobs=2, scoring='roc_auc')
model.fit(X_train,y_train)
print(model.best_params_)
print(model.best_score_)

{'max_depth': 10, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 1000, 'oob_score': True}
0.8725128082926247

In [115]:
RF=rf(
    n_estimators=1000,
    max_depth=10,
    min_samples_split=2,
    min_samples_leaf=2,
    max_features='sqrt',
    oob_score=True,
    class_weight='balanced_subsample',
    n_jobs=3,
    random_state=1001
)

RF.fit(X_train,y_train)
print(RF.feature_importances_)

[5.30727010e-02 8.24185136e-02 7.12444297e-03 8.07831867e-02
 5.03705375e-02 8.75612448e-02 5.36263576e-02 4.79057667e-02
 2.36175897e-02 1.17326485e-02 1.61533550e-01 1.66936639e-01
 1.08170557e-02 9.02156264e-03 3.95371126e-03 2.16781208e-03
 1.57963675e-03 4.62502233e-04 1.46061582e-03 1.42615980e-02
 9.18038462e-03 5.81504281e-03 7.23970776e-04 1.62897011e-04
 5.62438017e-04 0.00000000e+00 1.23346662e-02 1.07195719e-02
 4.91513250e-03 3.37353713e-02 4.22211344e-03 7.26278659e-03
 3.96481254e-04 4.53281455e-03 1.83453801e-03 3.61546202e-03
 1.32009651e-03 0.00000000e+00 4.63731973e-04 5.04205524e-03
 7.36200240e-04 6.69550540e-03 1.56284052e-04 1.15307452e-03
 2.43288706e-03 2.82540804e-05 1.13682398e-04 0.00000000e+00
 4.53935748e-05 9.15281949e-04 0.00000000e+00 7.03444703e-04
 0.00000000e+00 2.23798567e-03 4.61534744e-04 0.00000000e+00
 4.10247453e-03 0.00000000e+00 6.36415139e-04 2.80270994e-04
 4.26885252e-04 0.00000000e+00 4.93999293e-05 0.00000000e+00
 7.92455757e-04 4.75057030e-04 0.00000000e+00 0.00000000e+00
 0.00000000e+00 4.38543358e-06 0.00000000e+00 4.44699011e-06
 0.00000000e+00 0.00000000e+00 6.06893605e-05 9.46978178e-06
 0.00000000e+00 7.18720447e-05 0.00000000e+00 2.75061421e-05
 1.31915584e-04 0.00000000e+00]

In [121]:
df=pd.DataFrame({'Feature':X_train.columns, 'Importance':RF.feature_importances_})
df.sort_values(by='Importance',ascending=False)
feature_remove=list(df[df.Importance<0.005].Feature)

In [122]:
selection=[i for i in list(X_train.columns) if i not in feature_remove]
X_train_ready=X_train[selection]
y=y_train
X_test_ready=X_test[selection]

In [126]:
print(len(X_train_ready.columns))
print(len(X_test_ready.columns))

23
23

## modeling

In [125]:
# LR

59

In [128]:
LRCV=lrcv(Cs=[10**i for i in range(-5,5)],cv=5,scoring='roc_auc',solver='liblinear',penalty='l1',class_weight='balanced',n_jobs=6,random_state=1001)
LRCV.fit(X_train_ready,y)
print('score for Cs', LRCV.scores_[1].mean(axis=0))
print('Best Score', LRCV.scores_[1].mean(axis=0).max())
lst=list(LRCV.scores_[1].mean(axis=0))
index=lst.index(LRCV.scores_[1].mean(axis=0).max())
print('All chosen Cs',LRCV.Cs_)
print('C for Best Score',LRCV.Cs_[index])

score for Cs [0.5        0.59709084 0.68191581 0.72886155 0.84194697 0.85369573
 0.85364838 0.85343276 0.85351322 0.85353996]
Best Score 0.8536957268311829
All chosen Cs [1.e-05 1.e-04 1.e-03 1.e-02 1.e-01 1.e+00 1.e+01 1.e+02 1.e+03 1.e+04]
C for Best Score 1.0

In [129]:
# RF
param_grid={
    'n_estimators': [100,1000,1500],
    'max_depth': [5,10,20],
    'min_samples_split': [2,4,6],
    'min_samples_leaf': [2,4,6],
    'max_features':['sqrt'],
    'oob_score': [True]
}

RF=rf(
#    n_estimators=1000,
#    max_depth=10,
#    min_samples_split=2,
#    min_samples_leaf=2,
    max_features='sqrt',
    oob_score=True,
    class_weight='balanced_subsample',
    n_jobs=3,
    random_state=1001
)

model=GridSearchCV(estimator=RF, param_grid=param_grid, cv=5, n_jobs=2, scoring='roc_auc')
model.fit(X_train_ready,y)
print(model.best_params_)
print(model.best_score_)

{'max_depth': 10, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 100, 'oob_score': True}
0.8793904131826037

In [144]:
# GBM
param_grid={
    'min_samples_split':[10],
    'min_samples_leaf':[3],
    'max_depth':[4],
    'max_features':['sqrt'],
    'subsample': [0.5],
    'n_estimators':[1000],
    'learning_rate':[0.02]
}
clf=gbc(
#    min_samples_split=8,
#    min_samples_leaf=3, 
#    max_depth=4, 
#    max_features='sqrt', 
#    subsample=0.5,
#    n_estimators=1000,
#    learning_rate=0.02,
    random_state=1001
)

model=GridSearchCV(estimator=clf,cv=5,param_grid=param_grid, n_jobs=8, scoring='roc_auc')
model.fit(X_train_ready,y)
print(model.best_params_)
print(model.best_score_)

{'learning_rate': 0.02, 'max_depth': 4, 'max_features': 'sqrt', 'min_samples_leaf': 3, 'min_samples_split': 10, 'n_estimators': 1000, 'subsample': 0.5}
0.8739277619856464

In [139]:
clf=gbc(
    min_samples_split=8,
    min_samples_leaf=3, 
    max_depth=4, 
    max_features='sqrt', 
    subsample=0.5,
    n_estimators=1000,
    learning_rate=0.02,
    random_state=1001,
    
)
clf.fit(X_train_ready,y)
clf.train_score_

array([1.32566093, 1.29774211, 1.28190412, 1.27387905, 1.26778266,
       1.24757806, 1.20318283, 1.22307081, 1.20363014, 1.21546637,
       1.18083239, 1.20609983, 1.16845042, 1.15096262, 1.15322504,
       1.13614775, 1.1291263 , 1.14347369, 1.14246942, 1.10802029,
       1.10273526, 1.09550927, 1.08394781, 1.07648979, 1.04285238,
       1.06580199, 1.06951977, 1.05787638, 1.06065927, 1.01368452,
       1.01967948, 1.01419874, 0.98792856, 1.00941825, 0.99733701,
       0.98973093, 0.97159501, 0.98063376, 0.97130975, 0.98002882,
       0.94927528, 0.93004937, 0.96582841, 0.94048221, 0.94894763,
       0.92695675, 0.92955289, 0.96401313, 0.92090443, 0.91612713,
       0.91204651, 0.90070333, 0.92294257, 0.88448499, 0.86419105,
       0.86536141, 0.84630376, 0.84863063, 0.90200052, 0.87832615,
       0.85697639, 0.88337328, 0.84709607, 0.83669603, 0.86924292,
       0.87126753, 0.87869878, 0.84502826, 0.8490598 , 0.81763491,
       0.86128351, 0.8017726 , 0.87966926, 0.84702102, 0.81838648,
       0.81126281, 0.8514547 , 0.88842777, 0.80859179, 0.838103  ,
       0.82759073, 0.83424685, 0.76654943, 0.78562755, 0.81921537,
       0.80799058, 0.80040643, 0.7796908 , 0.79549128, 0.78153276,
       0.79684752, 0.8216458 , 0.82600969, 0.80468318, 0.76730771,
       0.77774088, 0.75877918, 0.75685911, 0.75473535, 0.76845303,
       0.76084667, 0.80556968, 0.80243148, 0.74841311, 0.7732311 ,
       0.77081136, 0.77469827, 0.7893358 , 0.77946107, 0.72993849,
       0.75022555, 0.74882981, 0.76819846, 0.75344818, 0.72262577,
       0.7403032 , 0.77232774, 0.74027558, 0.72495157, 0.69472434,
       0.76676728, 0.71290021, 0.69792417, 0.68370542, 0.72619556,
       0.6999656 , 0.74427731, 0.71755008, 0.75665506, 0.72402355,
       0.68197032, 0.70835666, 0.74741603, 0.69556504, 0.75639208,
       0.70435281, 0.71286047, 0.70080709, 0.72284406, 0.72442851,
       0.74549148, 0.74576757, 0.68854521, 0.72302163, 0.71029725,
       0.70736193, 0.72837665, 0.7019022 , 0.71171787, 0.70206084,
       0.68445994, 0.70770757, 0.6685979 , 0.6952549 , 0.69521996,
       0.69283975, 0.67763163, 0.73483824, 0.68778359, 0.73905306,
       0.68958861, 0.6952862 , 0.67645838, 0.65295796, 0.67877501,
       0.6580957 , 0.72061282, 0.72688271, 0.67545896, 0.68273172,
       0.66702535, 0.68685213, 0.66555958, 0.65657963, 0.65451901,
       0.6728494 , 0.6882695 , 0.72230884, 0.62450368, 0.69840227,
       0.64308343, 0.68226996, 0.66150894, 0.67994118, 0.66381739,
       0.62438461, 0.71474991, 0.69396886, 0.6644583 , 0.67885957,
       0.69672471, 0.64312149, 0.62208184, 0.65326058, 0.65964324,
       0.70478836, 0.61443483, 0.62439822, 0.66340777, 0.64819164,
       0.63114556, 0.69395108, 0.67024876, 0.63713204, 0.65345613,
       0.6268347 , 0.67276332, 0.61558621, 0.65674097, 0.6765524 ,
       0.64052591, 0.67243446, 0.66856873, 0.65779971, 0.65353679,
       0.66777767, 0.62850607, 0.60495243, 0.63086857, 0.62001047,
       0.65544201, 0.5750201 , 0.62940863, 0.6335737 , 0.61675878,
       0.62684773, 0.61410505, 0.64670644, 0.63862213, 0.65575898,
       0.63914258, 0.64750435, 0.61545584, 0.62525241, 0.609201  ,
       0.58885517, 0.59944035, 0.60754486, 0.58151776, 0.60192722,
       0.62082106, 0.60472623, 0.60775136, 0.60565389, 0.61801428,
       0.62190826, 0.60814339, 0.57200828, 0.6291136 , 0.60218374,
       0.6421456 , 0.60819391, 0.61790905, 0.59086722, 0.61332138,
       0.60402518, 0.64188191, 0.59757906, 0.58622126, 0.65721736,
       0.59289165, 0.62769809, 0.57425641, 0.63789668, 0.60714712,
       0.61267691, 0.64146239, 0.61057509, 0.56655144, 0.58142036,
       0.57958826, 0.62038069, 0.6082619 , 0.6051077 , 0.59505757,
       0.6086502 , 0.56802243, 0.57284467, 0.60886581, 0.55153835,
       0.56662895, 0.56332061, 0.63283051, 0.55441162, 0.59220352,
       0.50027191, 0.58324249, 0.58989449, 0.58869732, 0.56775271,
       0.58468946, 0.56979879, 0.60994164, 0.60691331, 0.55970193,
       0.59188438, 0.60700179, 0.54388668, 0.56768804, 0.56533585,
       0.54051481, 0.57530567, 0.58790187, 0.55306387, 0.53686578,
       0.5779113 , 0.5303222 , 0.58242144, 0.5674862 , 0.56583546,
       0.59356919, 0.54584786, 0.53887599, 0.58014311, 0.60423197,
       0.57439077, 0.54660273, 0.56964199, 0.51405974, 0.56820173,
       0.56215411, 0.57137219, 0.5766975 , 0.5582465 , 0.56471172,
       0.59721432, 0.55947498, 0.58868058, 0.52227423, 0.55378726,
       0.58157166, 0.55937601, 0.54752675, 0.58140851, 0.59466791,
       0.55789848, 0.53968453, 0.56746004, 0.55854382, 0.54601131,
       0.52022266, 0.53033856, 0.51098214, 0.54554419, 0.55498103,
       0.5275603 , 0.53821353, 0.54152957, 0.5455088 , 0.52342165,
       0.52082037, 0.53394477, 0.5552574 , 0.53843764, 0.53401725,
       0.53408083, 0.55244554, 0.55763696, 0.54636851, 0.53170072,
       0.55303428, 0.55861961, 0.52300331, 0.55742416, 0.51205931,
       0.51432532, 0.56729695, 0.52742454, 0.53580918, 0.50707945,
       0.49398039, 0.5419343 , 0.5217573 , 0.47979411, 0.50188446,
       0.56277147, 0.52829631, 0.54076203, 0.52894113, 0.54100997,
       0.53849083, 0.53464896, 0.55310285, 0.46789688, 0.51643271,
       0.55210586, 0.52579368, 0.51056186, 0.52769523, 0.51822637,
       0.50925842, 0.52942869, 0.53431062, 0.49919174, 0.55568868,
       0.47791101, 0.49946707, 0.51033591, 0.53418088, 0.50328861,
       0.47299426, 0.52612504, 0.53262977, 0.55279283, 0.44709357,
       0.51294738, 0.54662407, 0.47366508, 0.52063905, 0.5140979 ,
       0.49440571, 0.56076443, 0.51189327, 0.52416505, 0.49824781,
       0.49628306, 0.50833416, 0.47874445, 0.47442171, 0.5030987 ,
       0.49217346, 0.47510039, 0.45570922, 0.52544827, 0.48993245,
       0.5258049 , 0.49237862, 0.5082887 , 0.4946363 , 0.49879069,
       0.5008859 , 0.49240976, 0.48846253, 0.49498031, 0.51197846,
       0.48436864, 0.51884973, 0.51867025, 0.51910252, 0.45774843,
       0.49776345, 0.49735766, 0.50983637, 0.48816699, 0.50711574,
       0.45548399, 0.475938  , 0.50886769, 0.46392139, 0.46900169,
       0.47309732, 0.48031143, 0.46833927, 0.4819238 , 0.46461026,
       0.43384479, 0.45485444, 0.42055358, 0.46561205, 0.48510966,
       0.48449923, 0.49082101, 0.46053251, 0.49905163, 0.45753828,
       0.48824959, 0.474627  , 0.45317928, 0.46720118, 0.51472836,
       0.43952202, 0.43950325, 0.46265945, 0.49091852, 0.47664669,
       0.46596279, 0.45903919, 0.49312029, 0.49390241, 0.47965487,
       0.51399128, 0.4959752 , 0.4615255 , 0.46816453, 0.45096978,
       0.48092145, 0.46553138, 0.47425423, 0.46707624, 0.4505344 ,
       0.4750638 , 0.45813839, 0.45287127, 0.45132979, 0.45192588,
       0.45837228, 0.46176718, 0.45573052, 0.44730517, 0.43692421,
       0.45232941, 0.46400171, 0.45142611, 0.48710994, 0.49394582,
       0.43263729, 0.43547923, 0.47462886, 0.44094024, 0.45775719,
       0.45863785, 0.42824997, 0.43296524, 0.44037256, 0.43918515,
       0.44263257, 0.45029855, 0.41174489, 0.41660692, 0.45574127,
       0.41981173, 0.4142286 , 0.45255361, 0.41680221, 0.39992966,
       0.41775502, 0.44823127, 0.46033997, 0.44352058, 0.45745379,
       0.42142713, 0.40830958, 0.41987318, 0.42563607, 0.45180598,
       0.43287301, 0.40232266, 0.42042792, 0.42960931, 0.45381201,
       0.42263166, 0.47439914, 0.45432921, 0.44788284, 0.45231825,
       0.41484085, 0.45340747, 0.43242239, 0.43299032, 0.38822523,
       0.46306192, 0.43004446, 0.41700432, 0.41747251, 0.42928071,
       0.42323259, 0.39915686, 0.49424524, 0.41996999, 0.41236195,
       0.4555764 , 0.42288245, 0.37625874, 0.37508997, 0.46277593,
       0.44102539, 0.4099178 , 0.40039933, 0.43176858, 0.43746672,
       0.45589241, 0.42074458, 0.42855928, 0.41038785, 0.42575407,
       0.45961909, 0.42001851, 0.42853396, 0.42177452, 0.44084934,
       0.40673946, 0.44282187, 0.43585974, 0.42054466, 0.41647727,
       0.38966882, 0.43385766, 0.42517036, 0.4153016 , 0.39047814,
       0.38088387, 0.42054511, 0.4049944 , 0.42502328, 0.4187327 ,
       0.41017277, 0.4099888 , 0.38538111, 0.43564792, 0.37383461,
       0.39418539, 0.42430991, 0.42868397, 0.41358217, 0.41217264,
       0.45048871, 0.43937407, 0.40277036, 0.42477499, 0.3907225 ,
       0.42166946, 0.39205161, 0.42027955, 0.41757174, 0.39233616,
       0.39528401, 0.38706221, 0.42628347, 0.36193276, 0.38728378,
       0.39702738, 0.44709195, 0.41693165, 0.41323831, 0.3752233 ,
       0.38754666, 0.422925  , 0.38812553, 0.42636053, 0.3725257 ,
       0.37177096, 0.39799874, 0.42564447, 0.40380977, 0.41401549,
       0.41641174, 0.39743299, 0.37737205, 0.38322336, 0.39284155,
       0.38276255, 0.41315207, 0.39093463, 0.3724786 , 0.36692324,
       0.41876305, 0.37327149, 0.39593972, 0.38894498, 0.37935766,
       0.39795163, 0.40902926, 0.39935661, 0.3966663 , 0.44184831,
       0.37131449, 0.39635924, 0.39588057, 0.38279046, 0.40154941,
       0.35806001, 0.37569545, 0.39892444, 0.38670077, 0.39073029,
       0.34599682, 0.39369583, 0.37963129, 0.39327081, 0.38601458,
       0.37313626, 0.43105671, 0.37747489, 0.37132752, 0.39463652,
       0.39124917, 0.39715811, 0.35993472, 0.3681686 , 0.39765361,
       0.39529396, 0.35103491, 0.431808  , 0.39306673, 0.39489008,
       0.37932746, 0.37061049, 0.36565135, 0.381723  , 0.40705157,
       0.39595994, 0.37003695, 0.38268065, 0.37428273, 0.31961926,
       0.37767321, 0.36189874, 0.36944516, 0.36546674, 0.39619055,
       0.3414155 , 0.3992927 , 0.35503773, 0.37380521, 0.38090986,
       0.36920876, 0.3485168 , 0.38821165, 0.35897216, 0.3806212 ,
       0.39281748, 0.35790507, 0.36588128, 0.37195533, 0.37494433,
       0.37072504, 0.38049007, 0.34802285, 0.34808893, 0.36678127,
       0.40056914, 0.40131904, 0.37610862, 0.34499085, 0.39574601,
       0.39060178, 0.3725584 , 0.34739572, 0.36760598, 0.38145641,
       0.33407361, 0.35197739, 0.39524779, 0.39449404, 0.35519139,
       0.36515705, 0.37674538, 0.36372505, 0.35664192, 0.331279  ,
       0.38292983, 0.3556822 , 0.37429196, 0.35630337, 0.35859667,
       0.35078723, 0.35080526, 0.3738288 , 0.33284192, 0.36265889,
       0.3387933 , 0.35816353, 0.34190865, 0.34789647, 0.37590561,
       0.35283309, 0.34563023, 0.37152461, 0.37114329, 0.36749577,
       0.39723951, 0.35535988, 0.31911642, 0.35951779, 0.35393106,
       0.38070945, 0.34678183, 0.31032756, 0.34284013, 0.32919444,
       0.36019773, 0.342819  , 0.35648272, 0.35168652, 0.35025918,
       0.32507392, 0.35577015, 0.36382966, 0.35767555, 0.36755017,
       0.33612991, 0.3203804 , 0.34036079, 0.35772514, 0.354438  ,
       0.34433051, 0.38267326, 0.31455787, 0.33342574, 0.32777092,
       0.33083391, 0.32094128, 0.35578966, 0.33644226, 0.34815859,
       0.34969163, 0.33281631, 0.32918952, 0.34897931, 0.37242307,
       0.3596945 , 0.36788767, 0.36343859, 0.34655914, 0.31078631,
       0.32922933, 0.32642304, 0.31246371, 0.33880923, 0.36301548,
       0.35574641, 0.31533204, 0.33918049, 0.31170973, 0.33598505,
       0.33082042, 0.30886499, 0.35459013, 0.31517845, 0.34967934,
       0.32261474, 0.33755936, 0.31802535, 0.31056133, 0.30965683,
       0.3381794 , 0.30798806, 0.31447107, 0.33108456, 0.32561277,
       0.32863556, 0.31270556, 0.30845207, 0.31618959, 0.30836262,
       0.33861555, 0.32302923, 0.29904394, 0.31671837, 0.33682495,
       0.32981907, 0.29781994, 0.33835526, 0.33216772, 0.34221654,
       0.32995322, 0.30774364, 0.28616487, 0.30358527, 0.32966387,
       0.33021918, 0.31272323, 0.31166291, 0.33249076, 0.33955407,
       0.29687952, 0.3164103 , 0.33760368, 0.30878376, 0.32597943,
       0.27888396, 0.31279178, 0.32256711, 0.30059715, 0.32419213,
       0.32799617, 0.32693662, 0.31911045, 0.31034607, 0.31055817,
       0.33243636, 0.3015224 , 0.31023674, 0.32223471, 0.32796613,
       0.31615072, 0.31890748, 0.29917667, 0.31165608, 0.28481543,
       0.31480041, 0.30446638, 0.30659848, 0.30386856, 0.31306594,
       0.3340896 , 0.29785625, 0.2814401 , 0.35035232, 0.26968535,
       0.29685461, 0.32332709, 0.29988181, 0.31474863, 0.31961978,
       0.33321941, 0.29410382, 0.27699759, 0.28883099, 0.28264504,
       0.33857331, 0.30234434, 0.30283201, 0.29907687, 0.33537729,
       0.31053665, 0.30021749, 0.3060969 , 0.28739507, 0.31800317,
       0.30527131, 0.32460199, 0.30567365, 0.29652456, 0.33590534,
       0.27483327, 0.31808592, 0.26524002, 0.29838749, 0.30419973,
       0.275998  , 0.3170737 , 0.27397454, 0.30344547, 0.32265418,
       0.31767945, 0.30144987, 0.30392652, 0.28433998, 0.28517997,
       0.30665189, 0.29472609, 0.27830172, 0.30294044, 0.33057033,
       0.25857484, 0.28048523, 0.30595629, 0.31152147, 0.2934584 ,
       0.30158944, 0.28899026, 0.31260461, 0.32722806, 0.28043901,
       0.28244686, 0.30769898, 0.2971855 , 0.27947845, 0.28151684,
       0.28558069, 0.29300472, 0.29345569, 0.28071842, 0.28763751,
       0.29858419, 0.27150512, 0.29199472, 0.32181646, 0.29366528,
       0.28619504, 0.29584728, 0.32479844, 0.2852847 , 0.2786513 ,
       0.30735233, 0.29077082, 0.30119642, 0.26030519, 0.29813049,
       0.30726854, 0.27336974, 0.27121231, 0.28984754, 0.25750995,
       0.32088559, 0.29701098, 0.27272752, 0.31000488, 0.26834341,
       0.29446826, 0.28981594, 0.31326492, 0.28818863, 0.27369646,
       0.29127134, 0.25389591, 0.27058837, 0.29471374, 0.27647952,
       0.26613902, 0.26424874, 0.270546  , 0.26537349, 0.28092237,
       0.29280259, 0.28156769, 0.27913882, 0.26475278, 0.27257537])

In [152]:
# XGB
param_grid={
 'learning_rate':[0.02],
 'n_estimators':[1000],
 'max_depth':[4],
 'min_child_weight':[4],
 'gamma':[0],
 'subsample':[0.5],
 'colsample_bytree':[0.5],
 'objective': ['binary:logistic'],
 'nthread':[4],
 'scale_pos_weight':[1],
    'reg_alpha':[0.01],
    'reg_lambda':[0.01]
}
XGBC=xgbc(
 learning_rate =0.002,
 n_estimators=2000,
 max_depth=4,
 min_child_weight=4,
 gamma=0,
 subsample=0.5,
 colsample_bytree=0.5,
 objective= 'binary:logistic',
 nthread=4,
 scale_pos_weight=10,
 seed=27,
    reg_alpha=0.01,
    reg_lambda=0.01
)

model=GridSearchCV(estimator=XGBC,cv=5,param_grid=param_grid, n_jobs=8, scoring='roc_auc')
model.fit(X_train_ready,y)
print(model.best_params_)
print(model.best_score_)

{'colsample_bytree': 0.5, 'gamma': 0, 'learning_rate': 0.02, 'max_depth': 4, 'min_child_weight': 4, 'n_estimators': 1000, 'nthread': 4, 'objective': 'binary:logistic', 'reg_alpha': 0.01, 'reg_lambda': 0.01, 'scale_pos_weight': 1, 'subsample': 0.5}
0.8676039363621959

In [157]:
# LightGBM
param_grid={
    'num_leaves':[100],
 'learning_rate':[0.02],
 'n_estimators':[1000],
 'max_depth':[4],
 'min_child_weight':[4],
    'min_child_sample':[10],
 'gamma':[0],
 'subsample':[0.5],
 'colsample_bytree':[0.5],
    'reg_alpha':[0.01],
    'reg_lambda':[0.01]
}
LGBMC=lgbmc(
    num_leaves=100,
 learning_rate =0.002,
 n_estimators=2000,
 max_depth=4,
 min_child_weight=4,
    min_child_samples=10,
 gamma=0,
 subsample=0.5,
 colsample_bytree=0.5,
 random_state=27,
    reg_alpha=0.01,
    reg_lambda=0.01,
    class_weight='balanced'
)

model=GridSearchCV(estimator=LGBMC,cv=5,param_grid=param_grid, n_jobs=8, scoring='roc_auc')
model.fit(X_train_ready,y)
print(model.best_params_)
print(model.best_score_)

{'colsample_bytree': 0.5, 'gamma': 0, 'learning_rate': 0.02, 'max_depth': 4, 'min_child_sample': 10, 'min_child_weight': 4, 'n_estimators': 1000, 'num_leaves': 100, 'reg_alpha': 0.01, 'reg_lambda': 0.01, 'subsample': 0.5}
0.863155187275044

In [159]:
y.value_counts()

0    549
1    340
Name: Survived, dtype: int64

In [163]:
from sklearn.model_selection import StratifiedKFold as SK

In [175]:
skf=SK(n_splits=5, random_state=1001)
skf.get_n_splits(X_train_ready,y)

5

In [176]:
i=0
for x_index, y_index in skf.split(X_train_ready,y):
    i=i+1
    print(i)
    
    print(x_index,y_index)
    print(len(x_index))
    print(len(y_index))

1
[167 168 169 170 172 173 174 175 176 177 178 179 180 181 184 187 188 190
 195 196 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213
 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231
 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249
 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267
 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285
 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303
 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339
 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357
 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375
 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393
 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411
 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429
 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447
 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465
 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483
 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501
 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519
 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537
 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555
 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573
 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591
 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609
 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627
 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645
 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663
 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681
 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699
 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717
 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735
 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753
 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771
 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789
 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807
 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825
 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843
 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861
 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879
 880 881 882 883 884 885 886 887 888] [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 171 182 183 185 186 189 191 192 193 194 197]
711
178
2
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 171 182 183 185 186 189 191 192 193 194 197 355 357
 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375
 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393
 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411
 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429
 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447
 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465
 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483
 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501
 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519
 520 521 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537
 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555
 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573
 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591
 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609
 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627
 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645
 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663
 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681
 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699
 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717
 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735
 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753
 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771
 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789
 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807
 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825
 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843
 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861
 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879
 880 881 882 883 884 885 886 887 888] [167 168 169 170 172 173 174 175 176 177 178 179 180 181 184 187 188 190
 195 196 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213
 214 215 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231
 232 233 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249
 250 251 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267
 268 269 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285
 286 287 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303
 304 305 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321
 322 323 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339
 340 341 342 343 344 345 346 347 348 349 350 351 352 353 354 356]
711
178
3
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 356 529 532 534 536
 538 539 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555
 556 557 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573
 574 575 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591
 592 593 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609
 610 611 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627
 628 629 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645
 646 647 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663
 664 665 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681
 682 683 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699
 700 701 702 703 704 705 706 707 708 709 710 711 712 713 714 715 716 717
 718 719 720 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735
 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753
 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771
 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789
 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807
 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825
 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843
 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861
 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879
 880 881 882 883 884 885 886 887 888] [355 357 358 359 360 361 362 363 364 365 366 367 368 369 370 371 372 373
 374 375 376 377 378 379 380 381 382 383 384 385 386 387 388 389 390 391
 392 393 394 395 396 397 398 399 400 401 402 403 404 405 406 407 408 409
 410 411 412 413 414 415 416 417 418 419 420 421 422 423 424 425 426 427
 428 429 430 431 432 433 434 435 436 437 438 439 440 441 442 443 444 445
 446 447 448 449 450 451 452 453 454 455 456 457 458 459 460 461 462 463
 464 465 466 467 468 469 470 471 472 473 474 475 476 477 478 479 480 481
 482 483 484 485 486 487 488 489 490 491 492 493 494 495 496 497 498 499
 500 501 502 503 504 505 506 507 508 509 510 511 512 513 514 515 516 517
 518 519 520 521 522 523 524 525 526 527 528 530 531 533 535 537]
711
178
4
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 530 531 533 535 537 705 706 707 708 709 711
 715 716 719 721 722 723 724 725 726 727 728 729 730 731 732 733 734 735
 736 737 738 739 740 741 742 743 744 745 746 747 748 749 750 751 752 753
 754 755 756 757 758 759 760 761 762 763 764 765 766 767 768 769 770 771
 772 773 774 775 776 777 778 779 780 781 782 783 784 785 786 787 788 789
 790 791 792 793 794 795 796 797 798 799 800 801 802 803 804 805 806 807
 808 809 810 811 812 813 814 815 816 817 818 819 820 821 822 823 824 825
 826 827 828 829 830 831 832 833 834 835 836 837 838 839 840 841 842 843
 844 845 846 847 848 849 850 851 852 853 854 855 856 857 858 859 860 861
 862 863 864 865 866 867 868 869 870 871 872 873 874 875 876 877 878 879
 880 881 882 883 884 885 886 887 888] [529 532 534 536 538 539 540 541 542 543 544 545 546 547 548 549 550 551
 552 553 554 555 556 557 558 559 560 561 562 563 564 565 566 567 568 569
 570 571 572 573 574 575 576 577 578 579 580 581 582 583 584 585 586 587
 588 589 590 591 592 593 594 595 596 597 598 599 600 601 602 603 604 605
 606 607 608 609 610 611 612 613 614 615 616 617 618 619 620 621 622 623
 624 625 626 627 628 629 630 631 632 633 634 635 636 637 638 639 640 641
 642 643 644 645 646 647 648 649 650 651 652 653 654 655 656 657 658 659
 660 661 662 663 664 665 666 667 668 669 670 671 672 673 674 675 676 677
 678 679 680 681 682 683 684 685 686 687 688 689 690 691 692 693 694 695
 696 697 698 699 700 701 702 703 704 710 712 713 714 717 718 720]
711
178
5
[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364 365 366 367 368 369 370 371 372 373 374 375 376 377
 378 379 380 381 382 383 384 385 386 387 388 389 390 391 392 393 394 395
 396 397 398 399 400 401 402 403 404 405 406 407 408 409 410 411 412 413
 414 415 416 417 418 419 420 421 422 423 424 425 426 427 428 429 430 431
 432 433 434 435 436 437 438 439 440 441 442 443 444 445 446 447 448 449
 450 451 452 453 454 455 456 457 458 459 460 461 462 463 464 465 466 467
 468 469 470 471 472 473 474 475 476 477 478 479 480 481 482 483 484 485
 486 487 488 489 490 491 492 493 494 495 496 497 498 499 500 501 502 503
 504 505 506 507 508 509 510 511 512 513 514 515 516 517 518 519 520 521
 522 523 524 525 526 527 528 529 530 531 532 533 534 535 536 537 538 539
 540 541 542 543 544 545 546 547 548 549 550 551 552 553 554 555 556 557
 558 559 560 561 562 563 564 565 566 567 568 569 570 571 572 573 574 575
 576 577 578 579 580 581 582 583 584 585 586 587 588 589 590 591 592 593
 594 595 596 597 598 599 600 601 602 603 604 605 606 607 608 609 610 611
 612 613 614 615 616 617 618 619 620 621 622 623 624 625 626 627 628 629
 630 631 632 633 634 635 636 637 638 639 640 641 642 643 644 645 646 647
 648 649 650 651 652 653 654 655 656 657 658 659 660 661 662 663 664 665
 666 667 668 669 670 671 672 673 674 675 676 677 678 679 680 681 682 683
 684 685 686 687 688 689 690 691 692 693 694 695 696 697 698 699 700 701
 702 703 704 710 712 713 714 717 718 720] [705 706 707 708 709 711 715 716 719 721 722 723 724 725 726 727 728 729
 730 731 732 733 734 735 736 737 738 739 740 741 742 743 744 745 746 747
 748 749 750 751 752 753 754 755 756 757 758 759 760 761 762 763 764 765
 766 767 768 769 770 771 772 773 774 775 776 777 778 779 780 781 782 783
 784 785 786 787 788 789 790 791 792 793 794 795 796 797 798 799 800 801
 802 803 804 805 806 807 808 809 810 811 812 813 814 815 816 817 818 819
 820 821 822 823 824 825 826 827 828 829 830 831 832 833 834 835 836 837
 838 839 840 841 842 843 844 845 846 847 848 849 850 851 852 853 854 855
 856 857 858 859 860 861 862 863 864 865 866 867 868 869 870 871 872 873
 874 875 876 877 878 879 880 881 882 883 884 885 886 887 888]
712
177

In [171]:
i

5

3.99438202247191